*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter', sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background: linear-gradient(
        to bottom,
        #ffffff 0%,
        #e5e7ff 40%,
        #8c89ff 75%,
        #2f2dbf 100%
    );
    color:#111;
}

/* NAVBAR */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 100px;
    position:fixed;
    width:100%;
    background:rgba(255,255,255,0.9);
    backdrop-filter:blur(10px);
    z-index:1000;
}

nav ul{
    list-style:none;
    display:flex;
    gap:40px;
}

nav a{
    text-decoration:none;
    color:#333;
    font-weight:500;
}

/* HERO */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:200px 100px 120px;
    min-height:100vh;
}

.hero-text{
    max-width:600px;
}

.hero-text h1{
    font-size:4rem;
    font-weight:900;
    line-height:1.1;
}

.highlight{
    background:linear-gradient(90deg,#3f63d3,#6c63ff);
    color:white;
    padding:8px 18px;
    border-radius:8px;
    display:inline-block;
    margin-bottom:10px;
}

.hero-text h2{
    margin-top:20px;
    font-size:1.5rem;
}

.hero-text p{
    margin-top:20px;
    color:#444;
}

.btn{
    display:inline-block;
    margin-top:30px;
    padding:14px 35px;
    background:linear-gradient(90deg,#6c63ff,#8f94fb);
    color:white;
    border-radius:40px;
    text-decoration:none;
}

.hero-img img{
    width:450px;
    max-width:100%;
    object-fit:contain;
    filter:drop-shadow(0 30px 60px rgba(0,0,0,0.3));
}

/* DARK SECTION */

.dark-section{
    padding:120px 100px;
    text-align:center;
    color:white;
}

/* GRID */

.grid{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:50px;
}

.card{
    width:300px;
    background:rgba(255,255,255,0.15);
    border-radius:20px;
    overflow:hidden;
    backdrop-filter:blur(10px);
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.content{
    padding:20px;
}

/* FOOTER */

footer{
    background:#1b1a70;
    color:white;
    text-align:center;
    padding:30px;
}

/* RESPONSIVE */

@media(max-width:900px){

    nav{
        padding:20px 30px;
    }

    .hero{
        flex-direction:column;
        text-align:center;
        padding:150px 30px;
    }

    .hero-img{
        margin-top:40px;
    }

    .dark-section{
        padding:80px 30px;
    }

}
